html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: $text;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
    color: #000000;
  }
}

// Global items CSS start

// hover start
.item-prev {
  position: relative;
  &:hover .prev-hover {
    opacity: 0.9;
  }
}
.prev-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-image: linear-gradient(-90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
  opacity: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  a {
    color: #ffffff;
    padding: 6px 26px;
    border-radius: 21.5px;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
    &:hover {
      background-color: #fff;
      color: $blue;
    }
    & + a {
      margin-left: 10px;
    }
  }
}

// hover end

// item head start

.item {
  &-head {
    margin-bottom: 25px;
    span {
      font-weight: 500;
      display: block;
      color: #000;
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  &-author {
    padding-left: 40px;
    margin-right: 10px;
    color: #000000;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      background-color: $purple;
      border-radius: 50%;
    }
  }
  // TODO: need to add icons for all categories
  &-category {
    padding-left: 35px;
    color: $purple;
    position: relative;
    &.wordpress {
      &::before {
        content: "\f19a";
        font-family: "icomoon";
        color: $purple;
        left: 12px;
        position: absolute;
      }
    }
    &.psd {
      &::before {
        content: "\f016";
        font-family: "icomoon";
        color: $purple;
        left: 12px;
        position: absolute;
      }
    }
    &.html {
      &::before {
        content: "\f13b";
        font-family: "icomoon";
        color: $purple;
        left: 12px;
        position: absolute;
      }
    }
  }
}
// item head end

// item body start

.item {
  &-body {
    padding-bottom: 45px;
    span {
      display: inline-block;
      margin-bottom: 35px;
    }
  }
  &-tag {
    background-color: #f1f3f6;
    border-radius: 14px;
    color: #868c96;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
  }
}
// item body end

// item footer start

.item {
  &-footer {
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
  }
  &-details {
    display: flex;
    font-size: 15px;
  }
  &-price {
    color: $blue;
    height: 32px;
    background-color: $price-bg;
    padding: 1px 17px 0px;
    font-weight: 500;
    border-radius: 16px;
    margin-right: 18px;
    transition: all 0.5s;
    &:hover {
      background-color: $blue;
      color: #ffffff;
    }
  }
  &-likes {
    padding-left: 25px;
    margin-right: 16px;
    position: relative;
    &::before {
      content: "\f08a";
      font-family: "icomoon";
      color: $purple;
      left: 0;
      position: absolute;
    }
  }
  &-soldout {
    padding-left: 25px;
    font-size: 15px;
    color: $blue;
    position: relative;
    &::before {
      content: "\f07a";
      color: $blue;
      left: 0;
      position: absolute;
      font-family: "icomoon";
    }
  }
}
.rate-yo__mini {
  padding-top: 8px;
}
.mixitup-control-active {
  background-color: $blue;
  color: #ffffff;
}
// item footer end
