@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  background-color: $grey;
}
.header__inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__user-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__user-btn {
  background-color: $blue;
  color: #ffffff;
  border-radius: 18px;
  margin-right: 220px;
  line-height: 28px;
  padding: 2px 18px;
  font-size: 14px;
}
.header__profile {
  &-box {
    display: flex;
    line-height: 24px;
  }
  &-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  &-name {
    display: block;
    color: $black;
  }
  &-balance {
    display: block;
    font-size: 15px;
    color: $blue;
  }
}
// * MENU START
.menu {
  background-color: #ffffff;
}
.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.menu__list {
  li + li {
    margin-left: 33px;
  }
  a {
    text-transform: uppercase;
    color: $black;
    font-weight: 500;
  }
}
.menu__search {
  position: relative;
}
.menu__search-box {
  height: 44px;
  border-radius: 22px;
  border: 1px solid #d9dfe5;
  width: 69px;
  outline: none;
  transition: all 0.9s;
  &::placeholder {
    font-size: 15px;
    color: $forms;
    display: none;
  }
  &.opened {
    width: 360px;
    padding: 0 72px 0 23px;
    display: default;
  }
}
.menu__search-btn {
  position: absolute;
  height: 46px;
  width: 70px;
  border-radius: 23px;
  border: none;
  background-color: $blue;
  top: -1px;
  right: 0;
  outline: none;
  cursor: pointer;
}

// * menu end

// * INTRO-TOP start

.intro-top {
  background-size: contain;
  background-position: center;
  opacity: 0.8;
  padding: 160px 0 230px;
  position: relative;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
}
.intro__inner {
  max-height: 725px;
  height: 100%;
  text-align: center;
  color: #ffffff;
  h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    span {
      font-weight: 700;
      display: block;
    }
  }
}
.intro__subtitle {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 65px;
}
.intro__btn {
  border-radius: 27px;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 28px;
  & + .intro__btn {
    margin-left: 25px;
  }
  &:hover {
    background-color: #ffffff;
    color: $blue;
    transition: all 0.5s;
  }
}
.intro__search {
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -67.5px;
    background-color: #fff;
    max-width: 1140px;
    width: 100%;
    min-height: 135px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    z-index: 1;
    &:after {
      content: "";
      max-width: 1110px;
      width: 100%;
      height: 20px;
      background-color: rgba(#fff, 0.5);
      top: -13px;
      z-index: -1;
      position: absolute;
      border-radius: 6px;
    }
    &:before {
      content: "";
      max-width: 1080px;
      width: 100%;
      height: 40px;
      border-radius: 6px;
      background-color: rgba(#fff, 0.5);
      z-index: -1;
      top: -26px;
      position: absolute;
    }
  }
  &-inner {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  &-text {
    max-width: 805px;
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 18px 195px 18px 29px;
    margin-right: 30px;
    outline: none;
    border-radius: 4px;
    &::placeholder {
      font-size: 16px;
      color: #676767;
    }
  }
  &-list {
    position: absolute;
    border: none;
    border: 1px solid #dcdcdc;
    padding: 18px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    right: 267px;
    outline: none;
    &::placeholder {
      color: $text;
      font-size: 16px;
    }
  }
  &-btn {
    border-radius: 4px;
    background-color: $blue;
    color: #ffffff;
    padding: 18px 65px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

// * intro-top end

// * INTRO-BOTTOM start

.intro-bottom {
  padding: 175px 0 100px;
  background-color: #ffffff;
}
.intro-bottom__inner {
  display: flex;
  justify-content: space-between;
}
.intro-bottom__item {
  max-width: 360px;
  text-align: center;
  border-radius: 4px;
  min-height: 403px;
  padding: 40px 30px;
  background-repeat: no-repeat;
  background-position: center 40px;
  &:hover {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
  }
}
.bottom__item-title {
  margin-top: 155px;
  font-size: 24px;
  font-weight: 400;
}

// * intro-bottom end

// * FEATURED start

.featured {
  background-color: $grey-bg;
  &__title {
    margin-bottom: 50px;
  }
}
.featured__item {
  &-inner {
    display: flex;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    max-height: 450px;
    background-color: #fff;
  }
}
.featured__item {
  &-description {
    padding: 30px 50px 0 50px;
    max-height: 450px;
  }
}

// ! Featured slider arrows! maybe need to rename

.slick-arrow {
  position: absolute;
  top: -125px;
  right: 0;
  padding: 0;
  border: none;
  width: 55px;
  height: 45px;
  outline: none;
  cursor: pointer;
  &.slick-arrow__purple {
    background-color: $purple;
  }
  &.slick-arrow__blue {
    background-color: $blue;
  }
}
.slick-prev {
  border-bottom-left-radius: 22.5px;
  border-top-left-radius: 22.5px;
  right: 100px;

  &:before {
    content: "\f104";
    font-size: 15px;
    font-family: "icomoon";
    color: #ffffff;
  }
}
.slick-next {
  border-bottom-right-radius: 22.5px;
  border-top-right-radius: 22.5px;
  right: 45px;

  &:before {
    content: "\f105";
    font-size: 15px;
    font-family: "icomoon";
    color: #ffffff;
  }
}

// * features end

// * NEWEST + Feed-slider start
.newest {
  background-color: $white-bg;
  position: relative;
  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    transition: all 1s;
    &.active {
      margin-bottom: 170px;
    }
  }
}

// !button for filters mixitup

.newest__btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 30px;
  position: relative;
  &::before {
    content: "Filter by:";
    min-width: 63px;
    font-size: 16px;
    position: absolute;
    right: 25px;
  }
}
.newest__panel-btn {
  width: 4px;
  height: 4px;
  background-color: #a3b1c4;
  border-radius: 50%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    width: 4px;
    height: 4px;
    background-color: #a3b1c4;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: -8px;
    width: 4px;
    height: 4px;
    background-color: #a3b1c4;
    border-radius: 50%;
  }
}

// ! filters mixitup

.newest__filter {
  &-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    top: 260px;
    position: absolute;
    padding: 10px 30px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    height: 0px;
    background-color: #ffffff;
    max-width: 1140px;
    width: 100%;
    transition: all 1s;
    opacity: 0;
    &.active {
      opacity: 1;
      height: 92px;
    }
    button + button {
      margin-left: 8px;
    }
  }

  &-btn {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 0;
    padding: 0 15px;
    &:hover {
      background-color: $blue;
      color: #ffffff;
    }
  }
}
.newest__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}

// ! NEWEST ITEM + FEED Slider

.newest__item,
.feed__item {
  max-width: 361px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  max-height: 529px;
  background-color: #fff;
  margin: 15px 0;
}
.newest__prev.item-prev,
.feed__prev.item-prev {
  max-height: 230px;
}
.newest__prev,
.feed__prev {
  img {
    max-height: 230px;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.newest__hover,
.feed__hover {
  max-height: 230px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.newest__item-description,
.feed__item-description {
  padding: 20px 30px 0 30px;
}

.newest__item-head.item-head,
.feed__item-head.item-head {
  span {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.newest__item-body.item-body,
.feed__item-body.item-body {
  padding-bottom: 0;
  span {
    margin-bottom: 20px;
  }
}
.newest__item-footer.item-footer,
.feed__item-footer.item-footer {
  height: 60px;
}
.newest__item-details,
.feed__item-details {
  padding: 0 30px;
}
.newest__item-details.item-details,
.feed__item-details.item-details {
  position: relative;
  width: 100%;
}
.newest__item-soldout.item-soldout,
.feed__item-soldout.item-soldout {
  position: absolute;
  right: 30px;
}
.newest__filter-all {
  padding: 15px 30px;
  margin: 0 auto;
  min-height: 55px;
  border-radius: 27.5px;
}
.newest-btn__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-slider {
  background-color: #eff1f5;
  .feed__title {
    margin-bottom: 50px;
  }
}
// * NEWEST + Feed-slider end

// * Facts start
.facts {
  color: #ffffff;
  background-color: rgba(#212225, 0.8);
  padding: 100px 0;
}
.facts__inner {
  display: flex;
  justify-content: space-between;
}
.facts__item {
  text-align: center;
  padding-top: 74px;
  position: relative;
  &::before {
    position: absolute;
    font-family: "icomoon";
    font-size: 40px;
    left: 0;
    right: 0;
    top: 10px;
  }

  &.facts__item-products {
    color: #feb71d;
  }
  &.facts__item-sales {
    color: #58c9e9;
  }
  &.facts__item-customers {
    color: #77de51;
  }
  &.facts__item-members {
    color: #ff6a6d;
  }
  .facts__count {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .facts__descr {
    font-size: 18px;
    color: #ffffff;
  }
}
.facts__item-products::before {
  content: "\f0b1";
}
.facts__item-sales::before {
  content: "\f0ed";
}
.facts__item-customers::before {
  content: "\f118";
}
.facts__item-members::before {
  content: "\f0c0";
}

// * Facts  end

// * advantages start

.advantages {
  padding: 120px 0 90px;
  text-align: center;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages__item {
  max-width: 361px;
  padding: 56px 35px 59px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
  max-height: 373px;
  &::before {
    position: absolute;
    font-weight: 300;
    color: rgba(#5c87f8, 0.2);
    font-size: 48px;
    top: 20px;
    left: 19px;
  }
  &-01::before {
    content: "01";
  }
  &-02::before {
    content: "02";
  }
  &-03::before {
    content: "03";
  }
  &-04::before {
    content: "04";
  }
  &-05::before {
    content: "05";
  }
  &-06::before {
    content: "06";
  }
  &-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 29px;
  }
}
.advantages__item-box {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-position: top center;
}

// * advantages  end

// * action start

.action__inner {
  display: flex;
}
.action__box {
  background-size: cover;
  padding: 100px 0;
  width: 50%;
  text-align: center;
  color: #ffffff;
  min-height: 561px;
  position: relative;

  &-blue {
    background-image: url(../img/action-blue.png);
    background-color: #0674ec;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/content/action-sell.png);
      width: 120px;
      height: 101px;
      transform: translateX(-50%);
    }
  }
  &-purple {
    background-image: url(../img/action-purple.png);
    background-color: #7347c1;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/content/action-shop.png);
      width: 100px;
      height: 100px;
      transform: translateX(-50%);
    }
  }
  &-title {
    margin-top: 150px;
    margin-bottom: 34px;
    font-size: 36px;
  }
  &-text {
    margin: 0 auto 49px;
    max-width: 578px;
  }
  &-btn {
    background-color: #fff;
    color: $blue;
    height: 55px;
    border-radius: 27.5px;
    text-align: center;
    padding: 11px 26px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
}

// * action  end

// * feedback start

.feedback {
  text-align: center;
}

@import "media";
